<img class="bd-placeholder-img card-img-top" src="{{album.url}}" alt="{{album.name}}" />
<div class="card-body">
  <p class="card-text">{{album.description}}</p>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <a type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/albums', album.id]">View</a>
      <a type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
    </div>
    <small class="text-muted">{{album.duration}} mins</small>
  </div>
</div>